<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-lth-quiz" >
	<tr>
		<td>
			<f:translate key="tx_lthquiz_domain_model_quiz.title" />
		</td>
		<td>
		{quiz.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lthquiz_domain_model_quiz.description" />
		</td>
		<td>
		{quiz.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lthquiz_domain_model_quiz.resdescription" />
		</td>
		<td>
		{quiz.resdescription}
		</td>
	</tr>
</table>
</html>