<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-lth-quiz" >
	<tr>
		<td>
			<f:translate key="tx_lthquiz_domain_model_question.title" />
		</td>
		<td>
		{question.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lthquiz_domain_model_question.commentcorrect" />
		</td>
		<td>
		{question.commentcorrect}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lthquiz_domain_model_question.commentincorrect" />
		</td>
		<td>
		{question.commentincorrect}
		</td>
	</tr>
</table>
</html>